name: Push to Artifact Registry GitHub Action
on:
  push:
    branches:
      - 'main'
  pull_request:
  workflow_dispatch:
jobs:
  Build-Container-dev:
    uses: celo-org/reusable-workflows/.github/workflows/container-cicd.yaml@v1.5
    if: github.ref != 'refs/heads/main'
    with:
      workload-id-provider: projects/1094498259535/locations/global/workloadIdentityPools/gh-optics-monorepo/providers/github-by-repos
      service-account: optics-monorepo-images-dev@devopsre.iam.gserviceaccount.com 
      artifact-registry: ${{ vars.DEV_IMAGE_REPO }}/optics-agent
      tag: testing
      context: ./rust
      file: ./rust/Dockerfile
      trivy: true
      trivy-timeout: 30m

  Build-Container:
    uses: celo-org/reusable-workflows/.github/workflows/container-cicd.yaml@v1.5
    if: github.ref == 'refs/heads/main'
    with:
      workload-id-provider: projects/1094498259535/locations/global/workloadIdentityPools/gh-optics-monorepo-main/providers/github-by-repos
      service-account:  optics-monorepo-images@devopsre.iam.gserviceaccount.com
      artifact-registry: us-west1-docker.pkg.dev/devopsre/optics-monorepo/optics-agent
      tag: latest
      context: ./rust
      file: ./rust/Dockerfile
      trivy: true
      trivy-timeout: 30m

